@page "/produtos"
@inherits ProdutosBehind

<PageTitle>Produtos</PageTitle>

<Alert @ref="Alert"></Alert>

<Modal @ref="Modal">
	<Header>
		<h5>@Title</h5>
	</Header>
	<Body>
		<div class="row">
			<EditForm Model="@Product" OnValidSubmit="Save">
				<DataAnnotationsValidator />
				<div>
					<label class="form-label">Nome</label>
					<div class="input-group">
						<InputText class="form-control" @bind-Value="Product.Name" />
						<button type="submit" class="btn btn-primary">Salvar</button>
						<button type="button" class="btn btn-danger" @onclick="() => Modal.Close()">Cancelar</button>
					</div>
					<ValidationMessage For="@(() => Product.Name)" />
				</div>
			</EditForm>
		</div>
	</Body>
</Modal>

<Modal @ref="ModalDelete">
	<Header>
		<h5>Tem certeza que deseja excluir: @Product.Name</h5>
	</Header>
	<Footer>
		<button class="btn alert-danger" @onclick=" () => ModalDelete.Close()">Cancelar</button>
		<button class="btn alert-success" @onclick="async () => await Deletar(Product.Id)">Confirmar</button>
	</Footer>
</Modal>

<h3>Cadastro de produtos</h3>
<div class="card width100">
	<div class="card-body">
		<div class="row">
			<button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="PrepareModalToSave">Novo Cadastro</button>
		</div>

		<div class="row margin-top2">
			<div class="card width100">
				<div class="card-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col"  class="width70">Nome</th>
								<th scope="col" class="width30">Ações</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in ListProducts)
							{
								<tr>
									<td class="col-7 col-sm-7 col-md-7">@item.Name</td>
									<td class="col-5 col-sm-5 col-md-5">
										<button class="btn alert-danger col-12 col-sm-6 col-md-5" @onclick=" () => ConfirmDelete(item)">Excluir</button>
										<button class="btn alert-success col-12 col-sm-6 col-md-5" @onclick="() => UpdateObjectToEdit(item)">Editar</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
